/* Genel yapı */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  overflow: hidden; /* Sayfanın dışına taşmayı engeller */
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  max-width: 100%; /* Kartın ekran boyutuna göre esnemesini sağlar */
  box-sizing: border-box;
  border: 2px solid #d7ef89; /* Kenar rengi */
  max-height: 90vh; /* Kartın ekran boyutuna göre yüksekliğini sınırla */
  overflow-y: auto; /* İçeriğin kaydırılmasına izin ver */
}

/* Yatay ve büyük fotoğraflar için sınırlandırmalar */
canvas, img {
  max-width: 100%;  /* Kartın genişliğini aşmaması için */
  max-height: 80vh; /* Kartın yüksekliğini aşmaması için */
  object-fit: contain; /* Görüntüyü orantılı bir şekilde küçült */
}

h2 {
  margin-bottom: 20px;
  color: #0056b3;
}

.drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.drop-area.dragging {
  border-color: #007bff;
}

.drop-area p {
  margin: 0;
  color: #666;
}

input[type="file"] {
  display: none;
}

label {
  display: block;
  margin-top: 2%;
  margin-bottom: 10px;
  color: #0056b3;
}

input[type="number"] {
  padding: 8px;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.apply-btn {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 100%; /* Mobilde tam genişlik */
  box-sizing: border-box;
}

.apply-btn:hover {
  background-color: #0056b3;
}

/* Mobil cihazlar için medya sorgusu */
@media (max-width: 600px) {
  .card {
    width: 100%; /* Kart genişliği mobilde tam ekran olur */
    padding: 15px;
    max-height: 80vh; /* Mobilde daha düşük bir yükseklik */
    overflow-y: auto; /* İçeriği kaydırılabilir yap */
  }

  .drop-area {
    padding: 15px; /* Mobilde drop-area biraz küçültülebilir */
  }

  input[type="number"] {
    font-size: 14px; /* Daha küçük ekranlar için yazı boyutu biraz küçültülebilir */
  }

  .apply-btn {
    padding: 10px 0; /* Düğme boyutunu biraz küçültelim */
  }

  canvas, img {
    max-width: 100%;
    max-height: 70vh; /* Mobilde daha küçük bir sınırlama */
  }
}
